In [1]:
mystring = 'Rithik'
mylist = []
for letter in mystring:
    mylist.append(letter)
mylist

['R', 'i', 't', 'h', 'i', 'k']

In [3]:
mystring = 'Rithik'

In [4]:
mylist = [letter for letter in mystring]

In [5]:
mylist

['R', 'i', 't', 'h', 'i', 'k']

In [6]:
mylist = [x for x in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
mylist = [x**2 for x in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
mylist = [x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [10]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp+32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [11]:
result = [x if x%2==0 else 'ODD' for x in range(0,11)]
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [13]:
mylist = []
for x in [1,2,3]:
    for y in [4,5,6]:
        mylist.append(x*y)
mylist

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [14]:
mylist = [x*y for x in [1,2,3] for y in [4,5,6]]
mylist

[4, 5, 6, 8, 10, 12, 12, 15, 18]